/* Cabeçalho */

.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0; 
    /* fixando o cabeçalho na posição 0 */
}

.cabecalho__pesquisar__item {
    display: none;    
}

/* seção superior */

.superior__secao__container{
    display: flex;
    align-items: center;

    white-space: nowrap;
    /* Fazendo não pular linha */

    overflow: scroll;
    /* barra de rolagem */

    gap: 16px;
    /* aplica espaçamento entre os elementos */
}

.menu__container{
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
    /* aplicado em 100% do elemento pai */

}

/* VIDEOS */

.videos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item{
    height: 303px;
    width: 280px;
    flex-grow: 1;
    /* A propriedade flex-grow é utilizada para expandir itens proporcionalmente de acordo com o espaço disponível em um container.. */
}

/* menu */

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* 100% do elemento pai */
    align-items: center;
    
}

.menu__lista li{
    /* align-self: center; */
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* reorganizando agrupamento de elementos */
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

/* rodapé */
.rodape__container{
    display: flex;
    flex-flow: column wrap;
}

/* responsividade */
@media (min-width: 834px) {
    /* cabeçalho */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* rodapé */
    
    .rodape__container{
        justify-content: space-between;
    }

    .menu__container{
        left: 0%;
        width: 74px;
        height: auto;
        top: 80px;
    }
    
    .menu__lista{
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 16px;
        /* align-items: center; */
    }
}

@media (min-width: 1440px){
    .menu__container{
        width: 239px;
        overflow: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens{
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    /* .jogos{
        order: 3;
    }

    .filmes{
        order: 2;
    }

    .premium{
        order: 1;
    }

    .maispaginas{
        order: 4;

        ordenar a posição dos items
    } */
}